.screen-container, .board, .left-aside, .right-aside, .player-area, .in-hand-area, .in-play-area, .in-hand, .in-play, .player-hp, .shuffled-deck, .discard-pile, .end-turn, .turn-currency {
    display: flex;
}
body {
    background-color: black;
}
/* CSS for overall page content organization */
.screen-container {
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: grey;
}
/* END OF CSS for overall page content organization*/

.board {
    height: 45vh;
    width: 80vw;
    background-color: brown;
}

.player2 {
    margin-bottom: 1vh;
}
.player1 {
    margin-top: 1vh;
}

.shuffled-deck, .in-hand, .in-play, .discard-pile {
    height: 10vh;
    width: 5vw;
    border: black solid 1px;
}
.end-turn {
    height: 5vh;
    width: 5vw;
    border: black solid 1px;
}

.left-aside, .right-aside {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    background-color: chartreuse;
}
.player-area {
    flex-direction: column;
    width: 70vw;
    background-color: cyan;
}
.in-hand-area, .in-play-area {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: black solid 1px;
    height: 50vh;
}
.player-hp, .turn-currency {
    border-radius: 50%;
    border: black solid 1px;
    height: 5vh;
    width: 5vh;
}
.discard-pile, .end-turn, .player-hp, .shuffled-deck, .turn-currency {
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}
.in-hand, .in-play {
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-atk {
    align-self: flex-start;
}
.card-def {
    order: 1;
}
.card-tuc {
    align-self: flex-end;
}

h3 {
    font-size: .8em;
    text-align: center;
}